<h1>All restaurants</h1>


    <tbody>
      <p><% @restaurants.each do |restaurant| %>
        <p><%= link_to restaurant_path(restaurant) do %>
          <%= restaurant.name %></p>
          <% end %>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.category %></p>
      <% end %>
    </tbody>

